@import '~office-ui-fabric-react/dist/sass/References.scss';

.myCourses {
  background-color: #fff;
  h2{
    font-weight: 600;
    margin-bottom: -15px;
    padding-top: 15px;
    margin-top: 0;
  }
  .filterForm{
    margin-bottom: 40px;
    width: 98%;
    input{
      border: none;
      font-weight: 600;
      font-size: 14px;
      &::placeholder{
        font-weight: normal;
        font-size: 14px;
      }
    }
    .resetSrchBtn{
      float: right;
      &::after{
        content: " ";
        clear: both;
      }
    }
  }
  .pagingBtns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    button{
      margin-left: 10px;
      min-width: 10px;
      padding: 0 5px;
    }
  }
  .defautlLink{
    color: #0173c6;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  div[id^=GroupedListSection] div[class^=ms-GroupHeader] {
    margin-left: 35px;
  }
  div[id^=GroupedListSection] div[class^=ms-GroupHeader-title] {
    margin-left: 0;
  }

  .formStatusCol{
    display: flex;
    align-content: stretch;
    align-items: center;
    span{
      margin-left: 5px;
    }
  }

  .srchBox{
    i{
      color: #323130;
    }
  }
  .comboCntnr{
    display: flex!important;
    flex-direction: row;
    align-items: baseline;
    .comboIcon{
      border-bottom: 1px solid #605e5c;
      height: 23px;
      border-radius: 0;
      padding-left: 17px;
    }
    .comboStyle{
      width: 100%;
      div{
        &::after{
          border: none;
          border-bottom: 1px solid #605e5c;
          border-radius: 0;
        }
      }
    }
  }
}

.formStatusCol{
  display: flex;
  align-content: stretch;
  align-items: center;
  span{
    margin-left: 10px;
  }
}
